{% extends "home/layout.html" %}
{% load vite %}

{% block title %}Home{% endblock %}

{% block head %}

{% vite %}
{% vite 'home/index.jsx' 'home/index.css' %}

{% endblock %}

{% block body %}
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Carl's Portfolio</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about-me">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#tech-stack">Tech Stack</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid" style="padding-top: 80px;">
  <div class="section about-me" id="about-me">
  </div>

  <div class="section tech-stack" id="tech-stack">
  </div>

  <div class="section projects" id="projects">
  </div>

  <div class="section contact" id="contact">
  </div>
</div>

<!-- Footer with project links -->
<footer class="bg-dark text-light py-5 mt-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Carl Kaziboni</h5>
        <p>AI & Computer Science Student<br>Technical Director at HumanEd</p>
        <div class="social-links">
          <a href="mailto:carlkaziboni@outlook.com" class="text-light me-3"><i class="fas fa-envelope"></i></a>
          <a href="https://www.linkedin.com/in/carlkaziboni/" target="_blank" class="text-light me-3"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/carlkaziboni" target="_blank" class="text-light me-3"><i class="fab fa-github"></i></a>
        </div>
      </div>
      <div class="col-md-4">
        <h5>Projects</h5>
        <ul class="list-unstyled">
          <li><a href="/fridge" class="text-light-emphasis">Smart Fridge Manager</a></li>
          <li><a href="/cs50ai" class="text-light-emphasis">CS50 AI Projects</a></li>
          <li><a href="/cs50web" class="text-light-emphasis">CS50 Web Development</a></li>
          <li><a href="/diageohack" class="text-light-emphasis">Diageo Hackathon - 2nd Place</a></li>
          <li><a href="/humaned" class="text-light-emphasis">HumanEd Robotics</a></li>
          <li><a href="/drps" class="text-light-emphasis">DRPS Course Stability</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>More Projects</h5>
        <ul class="list-unstyled">
          <li><a href="/portfolio" class="text-light-emphasis">Portfolio Website</a></li>
          <li><a href="/suggestions" class="text-light-emphasis">Student Council Suggestions</a></li>
          <li><a href="/xraydetection" class="text-light-emphasis">X-Ray Disease Detection</a></li>
          <li><a href="/android" class="text-light-emphasis">Android Mobile Apps</a></li>
          <li><a href="/playerposeclassifier" class="text-light-emphasis">Player Pose Classifier</a></li>
        </ul>
      </div>
    </div>
    <hr class="my-4">
    <div class="row">
      <div class="col-12 text-center">
        <p>&copy; 2025 Carl Kaziboni. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
{% endblock %}

